@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Poppins:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Josefin+Sans:wght@400;700&display=swap');
@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/topicos.css");
@import url("styles/contato.css");
@import url("styles/rodape.css");

:root {
    --cor-de-fundo: #ebecee;
    --cor-rodape: #f9f9f9;
    --branco: #fff;
    --cinza: #858585;
    --laranja: #eb9b00;
    --azul: #002f52;
    --azul-degrade: linear-gradient(97.5deg, #002f52 35.5%, #326589 165%);
    --fonte-principal: "Poppins";
    --fonte-secundaria: "Josefin Sans";
    --swiper-navigation-size: 28px;
    --swiper-pagination-bullet-size: 12px;
    --swiper-pagination-color: var(--azul)
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

hr {
    margin: 0;
}