.cabecalho{
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.cabecalho-ctn {
    display: flex;
    align-items: center;
}

.cabecalho-ctn__img {
    padding: 1em;
}

.cabecalho-ctn__titulo {
    display: none;
}

.cabecalho__menu-hamburguer {
    width: 24px;
    height: 24px;
    background-image: url("../assets/Menu.svg");
    background-position: center;
    display: inline-block;
}

.cabecalho-ctn__botao:checked ~ .lista-menu {
    display: block;
}

.cabecalho-ctn__botao {
    display: none;
}


.lista-menu {
    display: none;
    position: absolute;
    z-index: 2;
    top: 100%;
    width: 60vw;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25)
}

.lista-menu__titulo, .lista-menu__item {
    padding: 1em;
    background-color: var(--branco);
}

.lista-menu__titulo {
    color: var(--laranja);
    font-weight: 700;
}

.lista-menu__link {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

.opcoes {
    display: none;
}

.cabecalho-icone__texto {
    display: none;
}

@media screen and (min-width: 600px) {
    .cabecalho-ctn__titulo {
        display: block;
        font-family: var(--fonte-secundaria);
        font-weight: 400;
        font-size: 30px;
        margin-top: .4em;
    }
    
    .cabecalho-ctn__titulo--negrito {
        font-weight: 700;
    }
}

@media screen and (min-width: 768px) {

    .cabecalho__menu-hamburguer {
        display: none;
    }

    .opcoes {
        display: flex;
        height: 72px;
    }
    
    .opcoes__item {
        padding: 0 1em;
        text-transform: uppercase;
    }

    .opcoes__botao {
        display: none;
    }

    .opcoes__categorias {
        height: 100%;
        display: flex;
        align-items: center;
    }

    .opcoes__categorias:hover > .lista-menu {
        display: block;
    }

    .lista-menu {
        width: fit-content;
    }

    .cabecalho__favoritos {
        display: none;
    }
}

@media screen and (min-width: 1024px) {
    .cabecalho-icone {
        display: flex;
        align-items: center;
    }

    .cabecalho-ctn__titulo {
        margin-right: 80px;
    }

    .icones {
        margin-right: .5em;
        gap: .5em;
    }

    .cabecalho-icone__texto {
        display: block;
    }
}

@media screen and (min-width: 1680px) {
    .cabecalho-ctn__titulo {
        margin-right: 0; 
    }
    
    .opcoes {
        margin-left: 3em;
        margin-right: auto;
    }
}