.rodape {
    background-color: var(--cor-rodape);
    padding: 1.5em;
}

.rodape__titulo {
    line-height: 28px;
    text-align: left;
    font-size: 18px;
    text-align: center;
}

.rodape-links {
    display: none;
}

.autoria__texto {
    padding: 1em;
    text-align: center;
    background-color: var(--branco)
}

.autoria__texto a {
    color: var(--azul);
    font-weight: 500;
}



@media screen and (min-width: 768px) {
    .rodape {
        display: flex;
        justify-content: space-between;
        padding: 3em 3.5em 3em 2.5em;
    }

    .rodape__titulo {
        font-size: 24px;
    }

    .rodape-links {
        display: block;
        font-size: 14px;
    }

    .lista-rodape__titulo {
        margin-bottom: 25px;
        text-transform: uppercase;
        color: var(--cinza);
    }

    .lista-rodape {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .lista-rodape__item {
        display: flex;
        align-items: center;
    }

    .lista-rodape__texto {
        margin-left: .5em;
    }
}

@media screen and (min-width: 1600px) {
    .rodape {
        padding: 3em calc((100% - 1400px) / 2)
    }
}