.topicos {
    background: var(--azul-degrade);
    padding: 1em;
}

.topicos__titulo {
    font-weight: 300;
    text-align: center;
    color: var(--branco);
    margin-top: 1em;
    margin-bottom: 1.5em;
}

.topicos__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.topicos__item {
    background-color: var(--laranja);
    padding: 1em;
    margin: .5em;
}

.topicos__link {
    font-size: 14px;
    font-weight: 700;
    color: var(--branco);
}

@media screen and (min-width: 768px) {
    .topicos {
        padding: 1em 3em;
    }

    .topicos__titulo {
        font-size: 24px;
    }

    .topicos__item {
        padding: 1.3em;
    }

    .topicos__link {
        font-size: 18px;
    }
}